<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test name="Login Test">
    <classes>
      <class name="dd_tests.LoginTest"/>
    </classes>
  </test>
  
   <test name="Profile Test">
    <classes>
      <class name="dd_tests.profileTest"/>
    </classes>
  </test>
  
    <test name="TimeLine Test">
    <classes>
      <class name="dd_tests.timeLineTest"/>
    </classes>
  </test>
  
  <test name="About Test">
    <classes>
      <class name="dd_tests.aboutTest"/>
    </classes>
  </test>
   
</suite> 